{% extends 'base.html' %}

{% block title %} Details {% endblock title %}

{% block content %}
    <h1>Snippet Details</h1>
    <div class="snippet-details">
        <div class="details-actions">
            <a href="{% url 'edit_snippet' pk=snippet.pk %}"> Edit {% include './icons/pencil-fill.svg' %}</a>
            <a href="{% url 'delete_snippet' pk=snippet.pk %}"> Delete {% include './icons/trash.svg' %}</a>
        </div>
        <p>Title: {{ snippet.title }}</p>
        <p>Description: {{ snippet.description }}</p>
        <p>Code: {{ snippet.code }}</p>
        <p>Language: {{ snippet.language }}</p>
        <p>User: {{ snippet.user }}</p>
        <p>Tags: {{ snippet.tag }}</p>
    </div>
{% endblock content %}