{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    <h1> Tags List </h1>
    {% for tag in tags %}
        <div class="list-item">
            <a href="{% url 'detail_tag' pk=tag.pk %}"> {{ tag }} </a>
            <div class="actions">
                <a href="{% url 'edit_tag' pk=tag.pk %}"> Edit {% include './icons/pencil-fill.svg' %}</a>
                <a href="{% url 'delete_tag' pk=tag.pk %}"> Delete {% include './icons/trash.svg' %}</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}