{% extends 'base.html' %}

{% block title %} User Profile {% endblock title %}

{% block content %}
<h1> {{request.user.username}} Profile </h1>
<p>Here are the snippets you have made:</p>
{% for snippet in snippets %}
    <div class="list-item">
        <a href="{% url 'detail_snippet' pk=snippet.pk %}"> {{ snippet }} </a>
        <div class="actions">
            {% if user.is_authenticated %}
            <a href="{% url 'edit_snippet' pk=snippet.pk %}"> Edit {% include './icons/pencil-fill.svg' %}</a>
            <a href="{% url 'delete_snippet' pk=snippet.pk %}"> Delete {% include './icons/trash.svg' %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock content %}
