{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> {% block title %} {% endblock title %}</title>
</head>
<body>
    <header>
        <a href="{% url 'list_snippet' %}">Code Snippets</a>
        <a href="{% url 'admin:index' %}">link to admin panel</a> {% if user.is_authenticated %}<div>User: {{request.user.username}}</div>{% endif %}
    </header>
    
    <div class="sidebar">
        <div class="sidebar-section">
            Snippets
            <ul>
                <li><a href="{% url 'list_snippet' %}">List</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_snippet' %}">Create</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            Languages
            <ul>
                <li><a href="{% url 'list_language' %}">List</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_language' %}">Create</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            Tags
            <ul>
                <li><a href="{% url 'list_tag' %}">List</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'create_tag' %}">Create</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="body-text">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>